{% extends 'base.html' %}
{% load static i18n storage_tags %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'tom_select.js' %}" type="module" defer></script>
    <script src="{% static 'image_preview.js' %}" type="module" defer></script>
    <script src="{% static 'stock_add.js' %}" defer></script>
{% endblock extra_js %}
{% block title %}
    {% translate "Add Wine" %}
{% endblock title %}
{% block header %}
    <h1 class="header__title">{% translate "Add Wine" %}</h1>
{% endblock header %}
{% block content %}
    <div class="pure-g">
        <div class="pure-u-1 pure-u-lg-1-2 m-auto">
            {% storage_cells free_cells_by_storage %}
            <form method="post"
                  enctype="multipart/form-data"
                  class="pure-form pure-form-stacked wine-form"
                  novalidate>
                {% csrf_token %}
                <fieldset>
                    <legend>
                        <h2 class="form-subhead text--gray">{% translate "Details" %}</h2>
                    </legend>
                    {% include 'forms/form_field.html' with field=form.name %}
                    {% include 'forms/form_field.html' with field=form.wine_type %}
                    {% include 'forms/form_field.html' with field=form.country %}
                    {% include 'forms/form_field.html' with field=form.subregion %}
                    {% include 'forms/form_field.html' with field=form.size %}
                </fieldset>
                <fieldset>
                    <legend>
                        <h2 class="form-subhead text--gray">{% translate "Characteristics" %}</h2>
                    </legend>
                    {% include 'forms/form_field.html' with field=form.attributes %}
                    {% include 'forms/form_field.html' with field=form.grapes %}
                    {% include 'forms/form_field.html' with field=form.vintage %}
                    {% include 'forms/form_field.html' with field=form.abv %}
                    {% include 'forms/form_field.html' with field=form.category %}
                </fieldset>
                <fieldset>
                    <legend>
                        <h2 class="form-subhead text--gray">{% translate "Origin & Price" %}</h2>
                    </legend>
                    {% include 'forms/form_field.html' with field=form.vineyard %}
                    {% include 'forms/form_field.html' with field=form.source %}
                    {% include 'forms/form_field.html' with field=form.price %}
                    {% include 'forms/form_field.html' with field=form.rrp %}
                    {% include 'forms/form_field.html' with field=form.barcode %}
                </fieldset>
                <fieldset>
                    <legend>
                        <h2 class="form-subhead text--gray">{% translate "Personal Notes" %}</h2>
                    </legend>
                    {% include 'forms/form_field.html' with field=form.drink_by %}
                    {% include 'forms/form_field.html' with field=form.food_pairings %}
                    {% include 'forms/form_field.html' with field=form.rating %}
                    {% include 'forms/form_field.html' with field=form.comment %}
                </fieldset>
                <fieldset>
                    <legend>
                        <h2 class="form-subhead text--gray">{% translate "Images" %}</h2>
                    </legend>
                    {% include 'forms/form_field.html' with field=form.image_front %}
                    {% include 'forms/form_field.html' with field=form.image_back %}
                    {% include 'forms/form_field.html' with field=form.image_front_label %}
                    {% include 'forms/form_field.html' with field=form.image_back_label %}
                </fieldset>
                <fieldset>
                    <legend>
                        <h2 class="form-subhead text--gray">{% translate "Add to Cellar" %} <span class="text--small">({% translate "optional" %})</span></h2>
                    </legend>
                    {% include 'forms/form_field.html' with field=form.storage %}
                    {% include 'forms/form_field.html' with field=form.row %}
                    <ul id="storage__error-full"
                        class="form-errorlist hidden"
                        aria-live="assertive"
                        aria-atomic="true">
                        <li>
                            <span>{% translate "This row of the shelf is full. Please choose another one." %}</span>
                        </li>
                    </ul>
                    {% include 'forms/form_field.html' with field=form.column %}
                    {% include 'forms/form_field.html' with field=form.bottle_price %}
                </fieldset>
                {{ form.form_step }}
                <div class="pure-controls">
                    <div class="pure-g">
                        <div id="save_button_container" class="pure-u-1">
                            <button type="submit"
                                    name="save_finish"
                                    class="pure-button button__primary">
                                {% translate "Save Wine" %}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
