{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    {% translate "Add to Wishlist" %}
{% endblock title %}
{% block header %}
    <h1 class="header__title">{% translate "Add to Wishlist" %}</h1>
{% endblock header %}
{% block content %}
    <div class="pure-g">
        <div class="pure-u-1 pure-u-lg-1-3 m-auto">
            <form method="post"
                  class="pure-form pure-form-stacked wine-form"
                  novalidate>
                {% csrf_token %}
                {% include 'forms/form_field.html' with field=form.name %}
                {% include 'forms/form_field.html' with field=form.wine_type %}
                {% include 'forms/form_field.html' with field=form.country %}
                {% include 'forms/form_field.html' with field=form.subregion %}
                {% include 'forms/form_field.html' with field=form.vintage %}
                {% include 'forms/form_field.html' with field=form.price_limit %}
                {% include 'forms/form_field.html' with field=form.priority %}
                {% include 'forms/form_field.html' with field=form.notes %}
                <div class="pure-controls">
                    <button type="submit"
                            class="pure-button button__secondary">{% translate "Save" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
