{% extends 'base.html' %}
{% load static %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'react-vendors.js' %}" defer></script>
    <script src="{% static 'storage_grid.js' %}" defer></script>
{% endblock extra_js %}
{% block header %}
    <h1 class="header__title">Plan a Move</h1>
{% endblock header %}
{% block content %}
    <div class="planned-move-form">
        <p class="planned-move-form__description">
            Planned moves show where a bottle is intended to go. They do not reserve the destination.
        </p>
        <div id="storage-grid-container" data-planned-move-form="true"></div>
        <form id="planned-move-form" method="post" class="pure-form">
            {% csrf_token %}
            {{ form.storage_item.as_hidden }}
            {{ form.target_storage.as_hidden }}
            {{ form.target_row.as_hidden }}
            {{ form.target_column.as_hidden }}
            {% if form.errors %}
                <div class="form-errorlist" role="alert">{{ form.errors }}</div>
            {% endif %}
            <div class="planned-move-form__actions">
                <button id="planned-move-submit" type="submit" class="pure-button button__primary" disabled>
                    Save Planned Move
                </button>
                <a href="{% url 'planned-move-list' %}" class="pure-button button__neutral">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
