{% extends 'base.html' %}
{% load static i18n %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'storage_view_toggle.js' %}" defer></script>
    <script src="{% static 'react-vendors.js' %}" defer></script>
    <script src="{% static 'storage_grid.js' %}" defer></script>
{% endblock extra_js %}
{% block header %}
    <h1 class="header__title">{{ storage.name }}</h1>
{% endblock header %}
{% block content %}
    <div class="storage-detail__container">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1">
                {% url 'storage-edit' storage.pk as edit_url %}
                {% url 'storage-delete' storage.pk as delete_url %}
                {% include "includes/edit_delete_buttons.html" with edit_url=edit_url delete_url=delete_url %}
            </div>
            <div class="pure-u-1 pure-u-md-1 text-align-center">
                <span class="storage-detail__location">{% translate "Location:" %} {{ storage.location }}</span>
                {% if storage.total_slots > 0 %}
                    <span>{% translate "Bottles:" %} {{ storage.used_slots }}/{{ storage.total_slots }}</span>
                {% else %}
                    <span>{% translate "Bottles:" %} {{ storage.used_slots }}</span>
                {% endif %}
            </div>
            
            {% if storage.rows > 0 and storage.columns > 0 %}
            <!-- View Toggle -->
            <div class="pure-u-1 text-align-center storage-view-toggle-container">
                <div class="storage-view-toggle">
                    <button type="button" class="storage-view-toggle__btn" id="btn-list-view" onclick="toggleView('list')">
                        <i class="fa-solid fa-list"></i> {% translate "List" %}
                    </button>
                    <button type="button" class="storage-view-toggle__btn storage-view-toggle__btn--active" id="btn-grid-view" onclick="toggleView('grid')">
                        <i class="fa-solid fa-table-cells"></i> {% translate "Grid" %}
                    </button>
                </div>
            </div>
            {% endif %}
            
            <!-- Grid View -->
            <div class="pure-u-1" id="grid-view" {% if not storage.rows or not storage.columns %}class="storage-view--hidden"{% endif %}>
                {% csrf_token %}
                <div id="storage-grid-container" data-storage-id="{{ storage.pk }}"></div>
            </div>
            
            <!-- List View -->
            <div class="pure-u-1 pure-u-md-1 text-align-center storage-view--hidden" id="list-view">
                {% if object_list %}
                    <table class="storage-list__table">
                        <tr>
                            <th>{% if CELLAR_APP_TYPE == "whisky" %}{% translate "Whisky" %}{% else %}{% translate "Wine" %}{% endif %}</th>
                            <th>{% translate "Row" %}</th>
                            <th>{% translate "Cell" %}</th>
                            <th></th>
                        </tr>
                        {% for item in object_list %}
                            <tr>
                                <td>
                                    {% if CELLAR_APP_TYPE == "whisky" %}
                                        <a href="{% url 'whisky-detail' item.whisky.pk %}">{{ item.whisky.name }}</a>
                                    {% else %}
                                        <a href="{% url 'wine-detail' item.wine.pk %}">{{ item.wine.name }}</a>
                                    {% endif %}
                                </td>
                                <td>{{ item.row|default_if_none:"" }}</td>
                                <td>{{ item.column|default_if_none:"" }}</td>
                                <td>
                                    <a class="pure-button"
                                       href="{% url 'stock-delete' item.pk %}?next=storage"><i class="fa-regular fa-trash-can"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% include "includes/pagination.html" %}
                {% else %}
                    <p>{% if CELLAR_APP_TYPE == "whisky" %}{% translate "No whiskies here yet." %}{% else %}{% translate "No wines here yet." %}{% endif %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
