db.sqlite3
.coverage
test_db.sqlite3
venv/
.idea/
*.pyc
node_modules/
static/
staticfiles/
build/
*.egg-info/
media/
.env.dev
.env.prod.local
*.mo
autopo.ooo
.vscode/
nohup.out
gunicorn.log
ssl/
*.png
*.html
*.js
