db.sqlite3
.coverage
test_db.sqlite3
venv/
.idea/
*.pyc
node_modules/
static/
staticfiles/
build/
*.egg-info/
media/
.env.dev
.env.prod
.env.prod.db
*.mo
autopo.ooo
.vscode/
nohup.out
gunicorn.log
.env.prod.local
ssl/
*.png
*.html
*.js
