{% extends 'base.html' %}
{% load static %}
{% block title %}
    Edit Drink Record
{% endblock title %}
{% block header %}
    <h1 class="header__title">Edit Drink Record: {{ beverage.name }}</h1>
{% endblock header %}
{% block content %}
    <div class="pure-g">
        <div class="pure-u-1 pure-u-lg-1-3 m-auto">
            <form method="post"
                  class="pure-form pure-form-stacked wine-form"
                  novalidate>
                {% csrf_token %}
                {% include 'forms/form_field.html' with field=form.date_consumed %}
                {% include 'forms/form_field.html' with field=form.tasting_notes %}
                {% include 'forms/form_field.html' with field=form.rating %}
                {% include 'forms/form_field.html' with field=form.shared_with %}
                {% include 'forms/form_field.html' with field=form.occasion %}
                <div class="pure-controls">
                    <button type="submit"
                            class="pure-button button__secondary">Save</button>
                    <a href="{% url 'drink-history' %}"
                       class="pure-button">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
