{% extends 'base.html' %}
{% load static core_tags %}
{% block title %}
    Merge {{ APP_ITEM_NAME_PLURAL }}
{% endblock title %}
{% block header %}
    <h1 class="header__title">Merge {{ APP_ITEM_NAME_PLURAL }}</h1>
{% endblock header %}
{% block content %}
    <div class="pure-g">
        <div class="pure-u-1 pure-u-lg-1-3 m-auto">
            <form method="post" class="pure-form pure-form-stacked wine-form">
                {% csrf_token %}
                <p>
                    Merge "{{ duplicate.name }}" into "{{ primary.name }}"?
                </p>
                <p>
                    All bottles, barcodes, images, and history from "{{ duplicate.name }}" will be moved to the primary {{ APP_ITEM_NAME }}. The duplicate will then be deleted.
                </p>
                <table class="pure-table pure-table-horizontal">
                    <tr>
                        <th>Bottles to move</th>
                        <td>{{ dup_stock }}</td>
                    </tr>
                    <tr>
                        <th>Barcodes to combine</th>
                        <td>{{ dup_barcodes }}</td>
                    </tr>
                </table>
                <div class="pure-controls mt-md">
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-sm-1-2">
                            <a href="{% bev_url 'detail' primary.pk %}"
                               class="pure-button button__primary">Cancel</a>
                        </div>
                        <div class="pure-u-1 pure-u-sm-1-2">
                            <button type="submit" class="pure-button button__secondary">
                                <i class="fa-solid fa-code-merge"></i> Confirm Merge
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
