{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    {% translate "Wishlist" %}
{% endblock title %}
{% block header %}
    <h1 class="header__title">{% translate "Wishlist" %}</h1>
{% endblock header %}
{% block content %}
    <div class="pure-g">
        <div class="pure-u-1">
            <div class="mb-12">
                <a href="{% url 'wishlist-add' %}"
                   class="pure-button button__neutral"><i class="fa-regular fa-plus"></i> {% translate "Add to Wishlist" %}</a>
            </div>
            {% if wishlist_items %}
                <table class="pure-table pure-table-horizontal pure-table-striped">
                    <thead>
                        <tr>
                            <th>{% translate "Priority" %}</th>
                            <th>{% translate "Name" %}</th>
                            <th>{% translate "Type" %}</th>
                            {% include wishlist_columns_header %}
                            <th>{% translate "Price Limit" %}</th>
                            <th>{% translate "Notes" %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in wishlist_items %}
                            <tr>
                                <td>{{ item.priority }}</td>
                                <td>{{ item.name }}</td>
                                {% include wishlist_columns_row with item=item %}
                                <td>{{ item.price_limit|default_if_none:"-" }}</td>
                                <td>{{ item.notes|default_if_none:"-"|truncatewords:10 }}</td>
                                <td>
                                    <a href="{% url 'wishlist-purchased' item.pk %}" class="pure-button" title="{% translate 'Mark as purchased' %}"><i class="fa-solid fa-check"></i></a>
                                    <a href="{% url 'wishlist-delete' item.pk %}" class="pure-button" title="{% translate 'Delete' %}"><i class="fa-regular fa-trash-can"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="empty-state">
                    <div class="empty-state__icon"><i class="fa-solid fa-heart"></i></div>
                    <h3 class="empty-state__title">{% translate "Wishlist is empty" %}</h3>
                    <p class="empty-state__message">{% blocktranslate with item_name=APP_ITEM_NAME_PLURAL %}Add {{ item_name }} you'd like to buy someday.{% endblocktranslate %}</p>
                    <a href="{% url 'wishlist-add' %}" class="pure-button button__primary empty-state__action">
                        <i class="fa-solid fa-plus"></i> {% translate "Add to Wishlist" %}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
