{% extends 'base.html' %}
{% load static i18n %}
{% block header %}
    {% if whiskies %}
        <h1 class="header__title">{% translate "Multiple whiskies found" %}</h1>
    {% else %}
        <h1 class="header__title">{% translate "No whisky found" %}</h1>
    {% endif %}
{% endblock header %}
{% block content %}
    <div class="wine-scan__container">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-1 text-align-center">
                {% if whiskies %}
                    <p>{% translate "Multiple whiskies share barcode:" %} <strong>{{ barcode }}</strong></p>
                    <p class="form-hint">{% translate "Select the whisky you're looking for:" %}</p>
                {% else %}
                    <p>{% translate "No whisky found with barcode:" %} <strong>{{ code }}</strong></p>
                    <p class="form-hint">{% translate "Would you like to add a new whisky?" %}</p>
                {% endif %}
            </div>
        </div>
        {% if whiskies %}
            <ul class="wine-card__list">
                {% for whisky in whiskies %}
                    {% include 'whisky/whisky_card.html' with whisky=whisky %}
                {% endfor %}
            </ul>
        {% else %}
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-1 text-align-center">
                    <div class="wine__stock-buttons wine__stock-buttons--stacked">
                        <a href="{% url 'label-scan' %}" class="pure-button button__primary">
                            <i class="fa-solid fa-camera"></i>
                            {% translate "Scan Label to Add Details" %}
                        </a>
                        <a href="{% url 'whisky-add' %}" class="pure-button button__secondary">
                            {% translate "Add Manually" %}
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
