{% load i18n %}
{# Navigation menu items - included in both small and large screen menus #}
{% if user.is_authenticated %}
    <li class="pure-menu-item">
        <a href="{% url 'wine-list' %}" class="pure-menu-link">{% translate "Wines" %}</a>
    </li>
    <li class="pure-menu-item">
        <a href="{% url 'wine-add' %}" class="pure-menu-link">{% translate "Add Wine" %}</a>
    </li>
    <li class="pure-menu-item">
        <a href="{% url 'wine-scan' %}" class="pure-menu-link">{% translate "Scan Wine" %}</a>
    </li>
    <li class="pure-menu-item">
        <a href="{% url 'wine-map' %}" class="pure-menu-link">{% translate "Map" %}</a>
    </li>
    <li class="pure-menu-item">
        <a href="{% url 'storage-list' %}" class="pure-menu-link">{% translate "Storage" %}</a>
    </li>
    <li class="pure-menu-item">
        <a href="{% url 'bottle-list' %}" class="pure-menu-link">{% translate "Bottles" %}</a>
    </li>
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
        <a href="#" class="pure-menu-link">{% translate "More" %}{% if show_dropdown_indicator %} ▾{% endif %}</a>
        <ul class="pure-menu-children">
            <li class="pure-menu-item">
                <a href="{% url 'wishlist-list' %}" class="pure-menu-link">{% translate "Wishlist" %}</a>
            </li>
            <li class="pure-menu-item">
                <a href="{% url 'drink-history' %}" class="pure-menu-link">{% translate "Drink History" %}</a>
            </li>
            <li class="pure-menu-item">
                <a href="{% url 'consumption-stats' %}" class="pure-menu-link">{% translate "Statistics" %}</a>
            </li>
            <li class="pure-menu-item">
                <a href="{% url 'cellar-value' %}" class="pure-menu-link">{% translate "Cellar Value" %}</a>
            </li>
            <li class="pure-menu-item">
                <a href="{% url 'drinking-alerts' %}" class="pure-menu-link">{% translate "Alerts" %}</a>
            </li>
            <li class="pure-menu-item">
                <a href="{% url 'reorder-reminders' %}" class="pure-menu-link">{% translate "Reorder" %}</a>
            </li>
        </ul>
    </li>
    <li class="pure-menu-item">
        <a href="{% url 'user-settings' %}" class="pure-menu-link">{% translate "Settings" %}</a>
    </li>
    <li class="pure-menu-item">
        <form action="{% url 'account_logout' %}" method="post">
            {% csrf_token %}
            <button class="pure-menu-link button" type="submit">{% translate "Logout" %}</button>
        </form>
    </li>
    <li class="pure-menu-item">
        <button class="theme-toggle" type="button" aria-label="{% translate 'Toggle dark mode' %}">
            <i class="fa-solid fa-moon theme-toggle__icon--light"></i>
            <i class="fa-solid fa-sun theme-toggle__icon--dark"></i>
        </button>
    </li>
{% else %}
    <li class="pure-menu-item">
        <a href="{% url 'account_login' %}" class="pure-menu-link">{% translate "Login" %}</a>
    </li>
{% endif %}
