.wine-detail__image-wrapper {
  height: 300px;
  width: 158px;
  text-align: center;
  box-sizing: border-box;
  margin-inline: auto;
  margin-block-end: var(--spacing-md);

  @media screen and (min-width: 48em) {
    margin-inline-start: auto;
    margin-inline-end: var(--spacing-2xl);
    margin-block-start: var(--spacing-sm);
  }

  .image-controls {
    display: flex;
    justify-content: center;
    gap: var(--spacing-sm);

    @media screen and (max-width: 48em) {
      margin-bottom: var(--spacing-md);
    }
  }

  .image-controls button {
    width: 36px;
    height: 36px;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--gray-400);
    background: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 var(--spacing-xs);
    cursor: pointer;
  }

  .image-controls button:hover {
    outline: 3px solid rgba(1, 150, 3, 0.3);
    outline-offset: 2px;
  }

  .image-controls button i {
    font-size: var(--font-md);
    color: var(--gray-800);
    line-height: 1;
  }
}

.wine-detail__image {
  height: 237px;
  width: 158px;
  background-color: var(--white);
  border-radius: var(--border-radius-lg);
  text-align: center;
  box-shadow: var(--container-box-shadow);
  padding: var(--spacing-xs);
  box-sizing: border-box;
  margin-inline: auto;
  margin-block-end: var(--spacing-md);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-height: 225px;
    max-width: 100%;
    width: auto;
    height: auto;
    border-radius: var(--border-radius);
    object-fit: contain;
  }
}

.wine-detail__table {
  text-align: left;
  margin: auto;

  @media screen and (min-width: 48em) {
    margin-inline-start: var(--spacing-md);
    margin-inline-end: auto;
  }

  th {
    vertical-align: top;
    min-width: 7rem;
  }
}

.wine-detail__menu {
  margin-bottom: var(--spacing-xl);
}

.wine-detail__stock-table {
  text-align: left;
  margin: var(--spacing-md) auto;
  border-collapse: collapse;
  min-width: 100%;
}

.stock__count {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color-gray);
  align-self: center;
}
