{% load i18n %}
<li class="stats__card">
    <a class="stats__link" href="{% url 'whisky-list' %}?stock=1">
        <i class="fa-solid fa-whiskey-glass stats__icon"></i>
        <p class="stats__number">{{ bottles_in_stock }}</p>
        <h2 class="stats__label">
            {% blocktranslate count counter=bottles_in_stock %}Bottle in Stock{% plural %}Bottles in Stock{% endblocktranslate %}
        </h2>
    </a>
</li>
<li class="stats__card">
    <a class="stats__link" href="{% url 'cellar-value' %}">
        <i class="fa-solid fa-coins stats__icon"></i>
        <p class="stats__number">{{ total_value }}</p>
        <h2 class="stats__label">{% translate "Total Value in Stock" %}</h2>
    </a>
</li>
<li class="stats__card">
    <a class="stats__link" href="{% url 'whisky-list' %}">
        <i class="fa-solid fa-list stats__icon"></i>
        <p class="stats__number">{{ whiskies }}</p>
        <h2 class="stats__label">
            {% blocktranslate count counter=whiskies %}Recorded Whisky{% plural %}Recorded Whiskies{% endblocktranslate %}
        </h2>
    </a>
</li>
<li class="stats__card">
    <a class="stats__link" href="{% url 'whisky-map' %}">
        <i class="fa-solid fa-industry stats__icon"></i>
        <p class="stats__number">{{ distilleries_count }}</p>
        <h2 class="stats__label">
            {% blocktranslate count counter=distilleries_count %}Distillery{% plural %}Distilleries{% endblocktranslate %}
        </h2>
    </a>
</li>
<li class="stats__card">
    <a class="stats__link" href="{% url 'whisky-list' %}?fill_level=open">
        <i class="fa-solid fa-bottle-droplet stats__icon"></i>
        <p class="stats__number">{{ open_bottles }}</p>
        <h2 class="stats__label">
            {% blocktranslate count counter=open_bottles %}Open Bottle{% plural %}Open Bottles{% endblocktranslate %}
        </h2>
    </a>
</li>
<li class="stats__card">
    <a class="stats__link" href="{% url 'whisky-list' %}?order=-age_statement">
        <i class="fa-solid fa-hourglass-end stats__icon"></i>
        <p class="stats__number">{{ oldest_age }}</p>
        <h2 class="stats__label">{% translate "Oldest Age Statement" %}</h2>
    </a>
</li>
